@import "src/sass/variables";
@import "src/sass/mixins";

.background {
  @include transition;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .ascii-wrapper {
    @include transition;
    transition-duration: 600ms;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    .ascii {
      @include transition;
      transition-duration: 800ms;
      transform: scale(1);
    }

    &:hover {
      .ascii {
        transform: scale(1.2);
      }
    }

  }

  @include r($small) {

  }

  @include r($medium) {
    .ascii-wrapper {
      background-color: rgba(0, 0, 0, .4);

      .ascii {
        font-size: .28rem;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  @include r($large) {
    height: 400px;

    .ascii-wrapper {

      .ascii {
        transform: scale(0.6);
        font-size: .65rem;
      }
    }
  }
}
