<div class="projectFeatureWrapper">
  <div class="projectFeatureSlide fullscreen"
    [style.backgroundImage]="'url('+ projectFeature.featureImage +')'"
    [@scrollBackground]="projectFeature.state">
  </div>

  <div class="projectFeatureOverlay fullscreen project{{ projectFeature.id }}"
    [@scrollOverlay]="projectFeature.state"></div>

  <div class="projectFeatureTitle fullscreen"
    [@scrollTitle]="projectFeature.state">
    <div class="ascii-wrapper">
      <div class="ascii">{{ projectFeature.asciiName }}</div>
    </div>
  </div>
</div>
