<deiters-nav [primary]="primary" [accent]="!primary"></deiters-nav>

<div class="aboutHeaderWrapper">
  <div class="aboutSlide fullscreen"
    [style.backgroundImage]="'url('+ backgroundImage +')'"></div>

  <div class="aboutOverlay"
    [@scrollListOverlay]="slide"></div>

  <div class="aboutTitle"
    [@scrollListTitle]="slide">
    <div class="ascii-wrapper name-ascii">
      <div class="ascii">{{ name }}</div>
    </div>
    <div class="ascii-wrapper job-ascii">
      <div class="ascii">{{ job }}</div>
    </div>
  </div>
</div>

<div class="aboutInfo"
  [@scrollAbout]="info">
  <div class="about"
    [ngClass]="{'primary': primary, 'accent': !primary}">
    <p>I’m an software developer currently based in Atlanta with experience building web apps and desktop software. I’m passionate about the quality of code, efficiency, best practices and software security.</p>
    <p>I continue to learn new technologies and improve my skills for the next project. I enjoy experimenting with new frameworks and technologies while I work toward delivering a beautiful, functional product to the user or client.</p>
    <p>Some of my hobbies include board games, card games and low light photography.</p>
  </div>

  <div class="social-links">
    <deiters-social-link [social]="'email'"></deiters-social-link>
    <deiters-social-link [social]="'github'"></deiters-social-link>
    <deiters-social-link [social]="'linkedin'"></deiters-social-link>
  </div>
</div>
