.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.ascii-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;

  .ascii {
    display: block;
    white-space: pre;
    font-size: .4rem;
    line-height: normal;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
  } // ascii
} // ascii-wrapper
