@import "src/sass/variables";
@import "src/sass/mixins";

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.ascii-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;

  .ascii {
    display: block;
    white-space: pre;
    line-height: normal;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    font-size: .35rem;

    @include r($small) {
        font-size: .5rem;
    }

    @include r($large) {
        font-size: .7rem;
    }
  } // ascii
} // ascii-wrapper

%overlay-shape {
  opacity: .9;
  clip-path: polygon(70% 54%, 100% 64%, 100% 100%, 0px 100%, 0px 76%);

  @include r($small) {
    clip-path: polygon(70% 48%, 100% 60%, 100% 100%, 0px 100%, 0px 76%);
  }

  @include r($medium) {
    clip-path: polygon(70% 42%, 100% 56%, 100% 100%, 0 100%, 0 76%);
  }

  @include r($large) {
    clip-path: polygon(70% 36%, 100% 52%, 100% 100%, 0 100%, 0 76%);
  }
}

%projectName {
  top: 70%;
  right: 10%;
  width: 60%;

  .projectName {
    height: 100px;
  }

  @include r($small) {
    top: 65%;

    .projectName {
      height: 130px;
    }
  }

  @include r($medium) {
      .projectName {
        margin-bottom: 10px;
      }
  }

  @include r($large) {
    top: 60%;

    .projectName {
      height: 200px;
      margin-bottom: 20px;
    }
  }
}

%content {
  p {
    font-size: .8rem;
  }

  @include r($small) {

    p {
      font-size: 1rem;
    }
  }

  @include r($medium) {

    p {
      font-size: 1.2rem;
    }
  }
}
