<div class="full-height">
  <div class="about-landing">
    <img alt="Mike Deiters" ng-src="/images/profile-bw.jpg">

    <div class="ascii-wrapper">
      <div class="ascii">
 __  __ _ _          ____       _ _
|  \/  (_) | _____  |  _ \  ___(_) |_ ___ _ __ ___
| |\/| | | |/ / _ \ | | | |/ _ \ | __/ _ \ '__/ __|
| |  | | |   <  __/ | |_| |  __/ | ||  __/ |  \__ \
|_|  |_|_|_|\_\___| |____/ \___|_|\__\___|_|  |___/
      </div> <!-- ascii -->
    </div> <!-- ascii-wrapper -->
  </div> <!-- about-landing -->
</div> <!-- full-height -->

<div class="bio-wrapper">
  <div class="bio">
    <h3>About Me</h3>
    <p>I’m an software developer currently based in Atlanta with experience building web apps and desktop software. I’m passionate about the quality of code, efficiency, best practices and software security.</p>
    <p>I continue to learn new technologies and improve my skills for the next project. I enjoy experimenting with new frameworks and technologies while I work toward delivering a beautiful, functional product to the user or client.</p>
    <p>Some of my hobbies include board games, card games and low light photography.</p>
  </div> <!-- bio -->
</div> <!-- bio-wrapper -->
