<div class="full-height">
  <div class="about-landing">
    <img alt="Mike Deiters" ng-src="/images/profile-bw.jpg">

    <div class="ascii-wrapper">
      <div class="ascii">
 __  __ _ _          ____       _ _
|  \/  (_) | _____  |  _ \  ___(_) |_ ___ _ __ ___
| |\/| | | |/ / _ \ | | | |/ _ \ | __/ _ \ '__/ __|
| |  | | |   <  __/ | |_| |  __/ | ||  __/ |  \__ \
|_|  |_|_|_|\_\___| |____/ \___|_|\__\___|_|  |___/
      </div> <!-- ascii -->
    </div> <!-- ascii-wrapper -->
  </div> <!-- about-landing -->
</div> <!-- full-height -->

<div class="bio-wrapper">
  <div class="bio">
    <h3>About Me</h3>
    <p>Throughout my life I have developed my character in the Boy Scouts of America. My troop lead me in the direction to earn my Eagle Scout and developed my leadership qualities. On January 4th, 2011 I earned my rank of Eagle Scout. I am proud to say that I am one of the two percent of boy scouts that have earned the rank of Eagle, and one of the few of those that actually stick with the scouting program after I earned my Eagle.</p>
    <p>Currently I am a student at Georgia Gwinnett College and I have been very successful in balancing going to school full time and working part time. I have been able to flourish in areas requiring many different skill sets, and look forward to gaining even more experience and insights going forward. I am a passionate results driven individual that has lead and worked alongside people of various backgrounds. In the workplace I strive to always maintain and promote a positive attitude while attentively listening to and communicating with others.</p>
  </div> <!-- bio -->
</div> <!-- bio-wrapper -->
