<div class="full-height">
  <h3>A software, game, &amp; web developer</h3>
</div> <!-- full-height -->

<div class="project-group">
  <div class="full-height" ng-repeat="project in projects">
    <div class="project">
      <h4 ng-click="moreInfo(project.id)">{{project.title}}</h4>
      <div class="section-line"></div>
      <div class="project-info" id="{{project.id}}">
        <div class="project-image" style="background-image: url({{project.image}})">
        <div class="info">
          <p>{{project.info}}</p>
          <div class="button-group">
            <a href="https://{{project.link}}" ng-show="{{project.link}}">
              <div class="button">Project</div>
            </a>
            <div class="button" ng-click="close(project.id)">Close</div>
          </div>
        </div> <!-- info -->
          <div ng-click="moreInfo(project.id)" class="project-hover">
            <div class="ascii-wrapper">
              <div class="ascii">
███╗   ███╗ ██████╗ ██████╗ ███████╗
████╗ ████║██╔═══██╗██╔══██╗██╔════╝
██╔████╔██║██║   ██║██████╔╝█████╗
██║╚██╔╝██║██║   ██║██╔══██╗██╔══╝
██║ ╚═╝ ██║╚██████╔╝██║  ██║███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
              </div> <!-- ascii -->
            </div> <!-- ascii-wrapper -->
          </div> <!-- project-hover -->
        </div> <!-- project-image -->
      </div> <!-- project-info -->
    </div> <!-- project -->
  </div> <!-- full-height -->
</div> <!-- project-group -->
