<div class="full-height">
  <h3>A software, game, &amp; web developer</h3>
</div> <!-- full-height -->

<div class="project-group">
  <div class="full-height" ng-repeat="project in projects">
    <div class="project">
      <h4>{{project.title}}</h4>
      <div class="section-line"></div>
      <a href="{{project.link}}">
        <div class="project-image" style="background-image: url({{project.image}})">
          <div class="project-hover">
            <div class="ascii-wrapper">
              <div class="ascii">
███╗   ███╗ ██████╗ ██████╗ ███████╗
████╗ ████║██╔═══██╗██╔══██╗██╔════╝
██╔████╔██║██║   ██║██████╔╝█████╗
██║╚██╔╝██║██║   ██║██╔══██╗██╔══╝
██║ ╚═╝ ██║╚██████╔╝██║  ██║███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
              </div> <!-- ascii -->
            </div> <!-- ascii-wrapper -->
          </div> <!-- project-hover -->
        </div> <!-- project-image -->
      </a>
    </div> <!-- project -->
  </div> <!-- full-height -->
</div> <!-- project-group -->
