@import "src/sass/variables";
@import 'src/sass/global';
@import "src/sass/mixins";
@import "src/sass/projects";

.projectFeatureWrapper {
  z-index: $z-project1;

  &:nth-of-type(2) {
    z-index: $z-project2;
  }

  &:nth-of-type(3) {
    z-index: $z-project3;
  }

  &:nth-of-type(4) {
    z-index: $z-project4;
  }

  &:nth-of-type(5) {
    z-index: $z-project5;
  }
}

.projectFeatureSlide {
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectFeatureOverlay {
  clip-path: polygon(70% 36%, 100% 52%, 100% 100%, 0 100%, 0 76%);
  opacity: .9;
}

.projectFeatureTitle {
  color: #fff;
  display: block;
  position: absolute;
  width: 400px;
  top: 65%;
  left: 50%;

  .projectName {
    height: 150px;
  }

  .moreInfo {
    align-items: center;

    .ascii {
      font-size: .2rem;
    }
  }

  .link {
    transition: all 400ms ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}

@include project(true);
