<div class="projectFeatureWrapper">
  <div class="projectFeatureSlide fullscreen"
    [style.backgroundImage]="'url('+ projectFeature.location + projectFeature.featureImage +')'"
    [@scrollBackground]="projectFeature.state">
  </div>

  <div class="projectFeatureOverlay fullscreen project{{ projectFeature.id }}"
    [@scrollOverlay]="projectFeature.state"></div>

  <div class="projectFeatureTitle"
    [@scrollTitle]="projectFeature.state">
    <div class="ascii-wrapper projectName">
      <div class="ascii">{{ projectFeature.asciiName }}</div>
    </div>
    <div class="ascii-wrapper moreInfo">
      <div class="ascii link"
        [routerLink]="['/projects', projectFeature.link]">{{ moreInfo }}</div>
    </div>
  </div>
</div>
