@import "src/sass/variables";
@import "src/sass/global";
@import "src/sass/mixins";
@import "src/sass/projects";

.projectOverlay {
  @extend %overlay-shape;
  position: fixed;
  bottom: 0;
  background-color: $primary-color;
  width: 100%;
  height: 100vh;
}

.projectTitle {
  @extend %projectName;
  position: fixed;
  color: #fff;
  display: block;
}
