<deiters-nav [primary]="!primary" [accent]="primary"></deiters-nav>

<div class="projectHeaderWrapper"
  deitersWheelScroll
  [active]="hideDetails"
  (next)="hideSlide()">
  <div class="projectSlide fullscreen"
    [style.backgroundImage]="'url('+ project.location + project.featureImage +')'"
    [@scrollBackground]="project.state"></div>

  <div class="projectOverlay fullscreen"
    [ngClass]="{'primary-bg': primary, 'accent-bg': !primary}"
    [@scrollOverlay]="project.state"></div>

  <div class="projectTitle"
    [@scrollTitle]="project.state">
    <div class="ascii-wrapper projectName">
      <div class="ascii">{{project.asciiName}}</div>
    </div>
  </div>
</div>

<div class="detailsWrapper"
  [@revealDetails]="hideDetails"
  deitersWheelScroll
  [active]="hideDetails"
  (top)="showSlide()">

  <div class="ascii-wrapper projectName">
    <div class="ascii">{{project.asciiName}}</div>
  </div>

  <a class="live-link" *ngIf="project.site" [href]="project.site">Live</a>

  <div class="detailsText">
    <p>{{project.details}}</p>
  </div>

  <div class="projectFeature">
    <img [src]="project.location + project.featureImage">
  </div>

  <div class="projectGrid">
    <img *ngFor="let image of project.images"
      [src]="project.location + image">
  </div>
</div>
