@import "src/sass/variables";
@import "src/sass/mixins";

.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-header;
  @include rotate(-90);
  @include transition;
  user-select: none;
}

@include project();

.nav-links {
  position: absolute;
  top: 0;
  right: 14px;
  z-index: $z-header;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;

  li {
    float: left;
  }

  li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 14px;
  }
}
